@page "/"

<h1 class="mb-3">Blazor Core Demo</h1>

<div class="row">
    <div class="col-xl-5 col-lg-6">
        <div class="row">
            <div class="col-lg-8">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-right">
                            <i class="oi oi-list-rich text-success"></i>
                        </div>
                        <h5 class="text-muted font-weight-normal mt-0" title="Number of Customers">Input Components</h5>
                        <p class="mt-3 mb-3">Total 6 components, including FormInputText, FormInputTextArea, FormInputNumber, FormInputDate, FormInputSelect and FormInputCheckbox</p>
                        <p class="mb-0 text-muted float-right">
                            <span class="text-success mr-2"><i class="mdi mdi-arrow-up-bold"></i><a href="input">Go to Input Components</a></span>
                        </p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

