.icon-search .form-control {
    padding-left: 2.375rem;
}

.icon-search .form-control-span {
    position: absolute;
    z-index: 2;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.input-no-border {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.text-btn {
    background: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer !important;
}

.text-btn-item {
    font-weight: normal;
    top: -12px !important;
    padding: 0.5rem 0;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}

.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
    width: 1.1em;
    height: 1.1em;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}

.text-btn-item {
    font-weight: normal;
    top: -12px !important;
    padding: 0.5rem 0;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}
