
html, body {
    font-family: 'Nunito Sans';
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.full-size {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.sidebar .collapse {
    display: block;
}

.sidebar .top-row {
    background-color: white;
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .sidebar .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .sidebar .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .sidebar .nav-item a {
        color: #000000;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        /* line-height: 3rem;*/
    }

        .sidebar .nav-item a.active {
            background-color: rgba(255,255,255,0.75);
            color: #0094ff;
        }

        .sidebar .nav-item a:hover {
            background-color: rgba(255,255,255,0.25);
            color: #0094ff;
        }

#content {
    background-color: #E8F2F8;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.content-scrollable {
    overflow-y: auto;
    display: flex;
    flex-grow: 1;
    position: relative;
}

.page-wrapper {
    flex-direction: column;
}

.page-top {
    position: relative;
    flex-shrink: 0;
}

.topbar {
    box-shadow: var(--border-subtle-color,rgba(0, 0, 0, .08)) 0 1px 0;
    color: rgba(0,0,0,.55);
    color: var(--nav-vertical-text-secondary-color,rgba(0, 0, 0, .55));
    min-height: 48px;
    overflow-x: hidden;
    z-index: 10;
}

.page-bottom {
    overflow: hidden;
}

.bolt-link {
    border-radius: 2px;
    color: rgba(0,90,158,1);
    color: var(--communication-foreground,rgba(0, 90, 158, 1));
    cursor: pointer;
    outline: transparent;
    text-decoration: none;
    transition: color 80ms cubic-bezier(.165,.84,.44,1),background 80ms linear;
}

.top-nav-header {
    min-width: 230px;
    max-width: 230px;
    color: white;
    background-color: #002D42 !important;
    /*  #0094ff !important;*/
}

.top-nav-bar {
    min-width: 50px;
    background-color: #404040 !important;
}

.left-nav-column {
    min-width: 230px;
    /* min-height: 768px;*/
    background-color: white
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.icon-search .form-control {
    /*padding-left: 2.375rem;*/
}

.icon-search .form-control-span {
    /*position: absolute;*/
    z-index: 2;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #000;
}
.dark-input {
    /*    color: white;*/
    background-color: #d9d9d9;
    height: 30px
}
.header-title .nav-tooltip .nav-tooltiptext {
    margin-top: 0px !important;
    margin-left: 30px !important;
}

.nav-menu-footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.nav-tooltip {
    position: relative !important;
}

    .nav-tooltip .nav-tooltiptext {
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: 25px !important;
        position: absolute;
        display: block;
        white-space: nowrap;
        z-index: 1;
    }

    .nav-tooltip .header-tooltiptext {
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px 10px;
        position: absolute;
        display: block;
        margin-top: 0px !important;
        margin-left: 30px !important;
        white-space: nowrap;
        z-index: 1;
    }

    .nav-tooltip:hover .nav-tooltiptext {
        visibility: visible;
    }

    .nav-tooltip:hover .header-tooltiptext {
        visibility: visible;
    }

.nav-togglemenu-tooltip {
    position: relative !important;
}

    .nav-togglemenu-tooltip .nav-togglemenu {
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px 10px;
        position: absolute;
        margin-top: 0px !important;
        margin-left: 30px !important;
        white-space: nowrap;
        z-index: 1;
    }

    .nav-togglemenu-tooltip:hover .nav-togglemenu {
        visibility: visible;
    }

.menu-icon-large {
    font-size: 18px;
    color: #6687b2;
}

.menu-icon-small {
    font-size: 16px;
    color: #aaa;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}

.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
    width: 1.1em;
    height: 1.1em;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}

.text-btn {
    background: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer !important;
}

.text-btn-item {
    font-weight: normal;
    /*  top: -2px !important;*/
    padding: 0.5rem 0;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
}

.text-btn:focus {
    outline: none !important;
}

.alert-icon {
    border-style: solid;
    border-width: 4px 0 0 0;
}


.alert-success {
    color: #22543D;
    background-color: #F0FFF4;
    border-color: #48BB78;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

    .alert-success hr {
        border-top-color: #48BB78;
    }

    .alert-success .alert-link {
        color: #113206;
    }

.alert-icon.alert-success {
    padding: 0;
    position: relative;
    display: flex;
    margin-bottom: 1rem;
}

    .alert-icon.alert-success .icon {
        font-size: 1.25rem;
        color: #22543D;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .alert-icon.alert-success .message {
        padding: 0 1.25rem;
        margin: 0.75rem 60px 0.75rem 1.25rem;
        flex: 1;
    }

        .alert-icon.alert-success .message h2, .alert-icon.alert-success .message h3, .alert-icon.alert-success .message h4, .alert-icon.alert-success .message h5, .alert-icon.alert-success .message h6 {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 500;
            font-size: 1.25em;
            margin-bottom: 0;
        }

        .alert-icon.alert-success .message p {
            margin-bottom: 0.5em;
        }

.alert-info {
    color: #2A4365;
    background-color: #EBF8FF;
    border-color: #3A8ED4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

    .alert-info hr {
        border-top-color: #3A8ED4;
    }

    .alert-info .alert-link {
        color: #331c3e;
    }

.alert-icon.alert-info {
    padding: 0;
    position: relative;
    display: flex;
    margin-bottom: 1rem;
}

    .alert-icon.alert-info .icon {
        font-size: 1.25rem;
        color: #2A4365;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .alert-icon.alert-info .message {
        padding: 0 1.25rem;
        margin: 0.75rem 60px 0.75rem 1.25rem;
        flex: 1;
    }

        .alert-icon.alert-info .message h2, .alert-icon.alert-info .message h3, .alert-icon.alert-info .message h4, .alert-icon.alert-info .message h5, .alert-icon.alert-info .message h6 {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 500;
            font-size: 1.25em;
            margin-bottom: 0;
        }

        .alert-icon.alert-info .message p {
            margin-bottom: 0.5em;
        }

.alert-warning {
    color: #744210;
    background-color: #FFFFF0;
    border-color: #E3BF3A;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

    .alert-warning hr {
        border-top-color: #E3BF3A;
    }

    .alert-warning .alert-link {
        color: #562808;
    }

.alert-icon.alert-warning {
    padding: 0;
    position: relative;
    display: flex;
    margin-bottom: 1rem;
}

    .alert-icon.alert-warning .icon {
        font-size: 1.25rem;
        color: #744210;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .alert-icon.alert-warning .message {
        padding: 0 1.25rem;
        margin: 0.75rem 60px 0.75rem 1.25rem;
        flex: 1;
    }

        .alert-icon.alert-warning .message h2, .alert-icon.alert-warning .message h3, .alert-icon.alert-warning .message h4, .alert-icon.alert-warning .message h5, .alert-icon.alert-warning .message h6 {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 500;
            font-size: 1.25em;
            margin-bottom: 0;
        }

        .alert-icon.alert-warning .message p {
            margin-bottom: 0.5em;
        }

.alert-danger {
    color: #742A2A;
    background-color: #FFF5F5;
    border-color: #E53E3E;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

    .alert-danger hr {
        border-top-color: #E53E3E
    }

    .alert-danger .alert-link {
        color: #290c0c;
    }


.alert-icon.alert-danger {
    padding: 0;
    position: relative;
    display: flex;
    margin-bottom: 1rem;
}

    .alert-icon.alert-danger .icon {
        font-size: 1.25rem;
        color: #742A2A;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .alert-icon.alert-danger .message {
        padding: 0 1.25rem;
        margin: 0.75rem 60px 0.75rem 1.25rem;
        flex: 1;
    }

        .alert-icon.alert-danger .message h2, .alert-icon.alert-danger .message h3, .alert-icon.alert-danger .message h4, .alert-icon.alert-danger .message h5, .alert-icon.alert-danger .message h6 {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 500;
            font-size: 1.25em;
            margin-bottom: 0;
        }

        .alert-icon.alert-danger .message p {
            margin-bottom: 0.5em;
        }

.alert-primary {
    color: #091E41;
    background-color: #F6F8FB;
    border-color: #1B50B1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

    .alert-primary hr {
        border-top-color: #acbfe2;
    }

    .alert-primary .alert-link {
        color: #071630;
    }

.alert-icon.alert-primary {
    padding: 0;
    position: relative;
    display: flex;
    margin-bottom: 1rem;
}

    .alert-icon.alert-primary .icon {
        font-size: 1.25rem;
        color: #091E41;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .alert-icon.alert-primary .message {
        padding: 0 1.25rem;
        margin: 0.75rem 60px 0.75rem 1.25rem;
        flex: 1;
    }

        .alert-icon.alert-primary .message h2, .alert-icon.alert-primary .message h3, .alert-icon.alert-primary .message h4, .alert-icon.alert-primary .message h5, .alert-icon.alert-primary .message h6 {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 500;
            font-size: 1.25em;
            margin-bottom: 0;
        }

        .alert-icon.alert-primary .message p {
            margin-bottom: 0.5em;
        }

.alert-icon.alert-dismissible .message {
    border-right: 0px !important;
}

.alert-icon.alert-dismissible .close {
    padding: 1.75rem 1.25rem;
}

.form-control:valid {
    background-color: #F7F9FC;
}

.validation-message {
    color: #9B2C2C;
}

.multiple-select {
    background-color: #F7F9FC !important;
    color: #4D5D6C !important;
    border: 1px solid #ced4da !important;
}

    .multiple-select:hover {
        background-color: #F7F9FC !important;
        color: #4D5D6C !important;
        border: 1px solid #ced4da !important;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    /* app {
        flex-direction: row;
    }
*/
    /*.sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }*/

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        display: block;
    }
}
