@page "/en/collapse"
@page "/fr/collapse"

@inherits BasePageComponent
@using DSD.MSS.Blazor.Components.Core.Constants
@using DSD.MSS.Blazor.Components.Core.Components

<h3>CollapsePage</h3>

<div class="row well">
    <div class="col-8">
        <Collapse Title="Test Collapse" ShowBorder="false" HeaderBackgroundColor="#1B50B1" HeaderTitleTextColor="#FFFFFF" IsCollapsable="true" ViewMore="View More" ViewLess="View Less">
            <BodyContent>
                <p>Test collapse component</p>
            </BodyContent>
        </Collapse>
    </div>
</div>

<h4 class="mt-3 mb-3">Without View less or View more text</h4>

<div class="row well">
    <div class="col-8">
        <Collapse Title="Test Collapse" ShowBorder="false" HeaderBackgroundColor="#1B50B1" HeaderTitleTextColor="#FFFFFF" IsCollapsable="true">
            <BodyContent>
                <p>Test collapse component</p>
            </BodyContent>
        </Collapse>
    </div>
</div>
