@page "/en/collapse"
@page "/fr/collapse"

@inherits BasePageComponent
@using DSD.MSS.Blazor.Components.Core.Constants
@using DSD.MSS.Blazor.Components.Core.Components

<h3>CollapsePage</h3>

<div class="row well">
    <div class="col-8">
        <Collapse Title="Test Collapse" ShowBorder="false" HeaderBackgroundColor="#000000" HeaderTitleTextColor="#A52A2A" IsCollapsable="true">
            <BodyContent>
                <p>Test collapse component</p>
            </BodyContent>
        </Collapse>
    </div>
</div>
