<div class="card @(!ShowBorder ? "border-0" : "")">
    <div 
         class="card-header @(!ShowBorder ? "border-0" : "")" 
         style="background-color: @HeaderBackgroundColor; color: @HeaderTitleTextColor; display: flex; justify-content: space-between; align-items: center; align-content:center;"
    >
        @if (!string.IsNullOrEmpty(Icon))
        {
            <i class="@Icon"></i>
        }
        <h5 class="mb-0">@Title</h5>
        @if (IsCollapsable)
        {
            @if (IsCollapsed)
            {
                <i class="fas fa-chevron-down mr-1" @onclick="SetCollapseState" style="cursor: pointer;"></i>
            }
            else
            {
                <i class="fas fa-chevron-up mr-1" @onclick="SetCollapseState" style="cursor: pointer;"></i>
            }
        }
    </div>
    @if (!IsCollapsed)
    {
    <div class="card-body">
        @BodyContent
    </div>
    }
</div>
