<Collapse Title="Status" HeaderTitleTextColor="#FFF" HeaderBackgroundColor="#1B50B1">
</Collapse>

<div class="">
    <ul class="StatusHistoryList">
        <li class="StatusHistoryList-item first">
            <div class="row">
                <div class="col-7">
                    <b>Medical review</b>
                </div>
                <div class="col pl-5">
                   <StatusBadge RequestStatus="@this.StatusHistories[i]."></StatusBadge>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Febuary 20 - 11:43 AM
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Rice, Mary
                </div>
            </div>
        </li>
        <li class="StatusHistoryList-item not-first">

        </li>
    </ul>
</div>

